*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

    width: 100;
}
.head, h1{
    font-size: 20px;
}
.items{
    list-style-type: none;
    display: flex;
   text-decoration: none;

}
.items li {
    padding: 10px ;

}
img{
    height: 10vh;
    cursor: pointer;
}